<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shwavan.mooccatalog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Tunefit">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FetchCourseListService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".UdacityCourseDetailsActivity"
            android:label="@string/title_activity_udacity_course_details"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shwavan.mooccatalog.MainActivity" />
        </activity>

        <provider
            android:name=".provider.UdaCourseContentProvider"
            android:authorities="com.shwavan.provider.mooccatalog"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
